.plant-photo {
  height: 500px;
  width: 100%;
  background-size: cover;
  z-index : -1;
  top:0;
  position: absolute;
}

.map-photo {
  height: 500px;
  width: 100%;
  background-size: cover;
  z-index : -1;
  top:0;
  position: absolute;
}

.plant-name {
  z-index : 1;
  color:white;
  margin: auto;
  padding-top: 20px;
  background: rgba(0, 0, 0, 0.3);
  padding-bottom:20px;
}

.plant-card-show {
  background-color: white;
  border-radius: 40px;
  max-height: 350px;
  left:0;
  right:0;
  bottom: 0;
  margin-bottom: 77px;
  padding: 20px 1.5rem;
  position: absolute;
  overflow: scroll;
}

.trait_dessus {
  border-top: 8px solid $pale-gray;
  width : 70px;
  margin: auto;
}

.plant-details-container {
  height: 100%;
  display: flex;
  overflow: scroll;
}

.infos-scroll {
  height: max-content;
}

.position-icon-show {
  position: absolute;
  top: 50px;
  right: 50px;
  color: #FD77A0;
  font-size: 40px;
}

.text-green {
  color: $dark-green;
}

.text-gray {
  color: $pale-gray;
}

.--fa-full-color {
  color: $red;
  margin-left: 5px;
}

.--fa-empty-color {
  color: $dark-green;
  margin-right: 3px;
}

.likebutton {
  background-color: $white;
  border: 0px solid $white;
}
