.index-container {
margin-bottom: 77px;
padding-right: 10px;
  h1 {
    margin-left: 20px;
    color: $dark-green;
  }
  h2 {
    padding-left:20px;
    color: $middle-green;
  }
}

.formulaire {
  padding-left: 20px;
}

.form-control-new {
  padding-left: 20px;
  border:$middle-green 1px solid;
  border-radius: 15px;
  margin-right: 10px;
}

.search-btn {
  border-radius: 25px;
}

.planty-container {
  display: flex;
  flex-direction: row-reverse;
}

.planty-image {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.position-icon {
  position: absolute;
  bottom: 8px;
  right: 8px;
  color: #FD77A0;
  font-size: 18px;
}

.index-favorites {
  margin-top: 30px;
}
