<div class="home-banner">
  <div class="banner-content text-center">
    <%= image_tag "planty-secrets-white-01.png", class: "title-img" %>
    <p>Découvrez les propriétés médicinales des plantes autour de vous</p>
    <% if current_user  %>
      <%= link_to "Commencer", plants_path, class: "btn btn-lg btn-info" %>
      <% else %>
        <%= link_to "Connexion", new_user_session_path, class: "btn btn-lg btn-info"  %>
      <% end %>
  </div>
</div>
