<div class="banner">
  <div class="banner-content text-center">
    <h1>Planty Secrets</h1>
    <p>Découvrez les propriétés médicinales des plantes autour de vous</p>
    <%= link_to "Commencer", new_user_session_path, class: "btn btn-lg btn-info"  %>
  </div>
</div>

<div class="container">

</div>
