<div class="plant-row", data-index-search-target="list">
  <% @plants.each do |plant| %>
    <%= link_to plant_path(plant) do %>
      <div class="plant-card">
        <%= cl_image_tag plant.photo.key, class: "plant-img"%>
        <div class="card-body plant-body">
          <div class="d-flex justify-content-between">
            <h3 class="card-title plant-title text-green"><%= plant.name %></h3>
            <% favorite = Favorite.where(user: current_user, plant: @plants) %>
            <% favorite.each do |fav| %>
              <% if fav.plant_id == plant.id %>
                <i class="fa-solid fa-heart fa-lg mt-2 heart heart-list"></i>
              <% end %>
            <% end %>
          </div>
          <p class="card-text plant-text">France</p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

