<div class="plant-row", data-index-search-target="list">
  <% @plants.each do |plant| %>
    <%= link_to plant_path(plant) do %>
    <div class="card plant-card">
      <%= cl_image_tag plant.photo.key, class: "plant-img"%>
      <% end %>
      <div class="card-body plant-body">
        <h3 class="card-title plant-title text-green"><%= plant.name %></h3>
        <p class="card-text plant-text">France</p>
        <i class="fas fa-heart position-icon"></i>
      </div>
    </div>
  <% end %>
</div>
