@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.banner {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url("background-banner.jpg");
  background-size: cover;
  background-position: center;

  h1 {
    color: white;
    font-weight: bold;
    font-size: 40px;
    font-family: "Luckiest guy";
  }

  p {
    color: white;
    opacity: .8;
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 30px;
  }

  .btn {
    padding: 15px 50px;
  }

  .title-img {
    width: 35%;
    height: auto;
    margin-bottom: 20px;
    border-bottom: 1px solid $white;
  }
}
