@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.home-banner {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url("background-banner.jpg");
  background-size: cover;
  background-position: center;

  p {
    color: white;
    opacity: .8;
    font-size: 20px;
    margin: 0 2px 30px 2px;
  }

  .btn {
    padding: 10px 30px;
  }

  .title-img {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
    border-bottom: 1px solid $white;
  }
}
