.flash {
  padding: 16px 24px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 8px;
  margin-bottom: 55px;
}

.flash-success {
  border: 2px solid $middle-green;
}

.flash-danger {
  border: 2px solid $red;
}
